Source: libsysstat
Maintainer: Lubuntu Developers <lubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders: Alf Gaida <agaida@siduction.org>,
           ChangZhuo Chen (陳昌倬) <czchen@debian.org>,
           Shih-Yuan Lee (FourDollars) <fourdollars@gmail.com>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 11),
               lxqt-build-tools (>= 0.5.0)
Standards-Version: 4.1.4
Vcs-Browser: https://phab.lubuntu.me/source/libsysstat/
Vcs-Git: https://phab.lubuntu.me/source/libsysstat.git
XS-Debian-Vcs-Browser: https://salsa.debian.org/lxqt-team/libsysstat
XS-Debian-Vcs-Git: https://salsa.debian.org/lxqt-team/libsysstat.git
Homepage: https://github.com/lxqt/libsysstat

Package: libsysstat-qt5-0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Qt-based interface to system statistics
 SysStat is a Qt-based interface to system statistics.
 .
 This package contain the shared library.

Package: libsysstat-qt5-0-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
         libsysstat-qt5-0 (= ${binary:Version})
Description: Qt-based interface to system statistics (dev)
 SysStat is a Qt-based interface to system statistics.
 .
 This package contain the development files.
